html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background: url('../img/bg_main.png');
  background: #FDFDFF;
  position: relative;
}

table td {
  padding: 0;
}

table td a {
  color: #fff;
  text-decoration: none;
}

.el-dialog__header {
  border-bottom: 1px solid #DCDFE6;
}
.el-dialog__body {
  padding: 10px 20px;
}