
.btnTool {
  color: #f7f7f7;
  text-decoration: none;
}

table td a.hasDoc {
  display: inline-block;
  border-bottom: #ffcc00 solid 2px;
  padding-bottom: 2px;
}

.tabMenu {
  width: 130px;
  text-align: center;
  height: 32px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 18px;
  display: inline-block;
  margin-right: 3px;
  line-height: 40px;
}

.tabMenuNormal {
  background: #F9FDFF;
  color: #666;
  cursor: pointer
}

.tabMenuActive {
  background: #4F83E9;
color: #fff;
}

.tabHasDoc {
  display: inline-block;
  width: 4px;
  height: 14px;
  margin-right: 2px;
  background: #ffcc00;
}

.active {
  background: #4F83E9;
  color: #fff;
}

.titleactive {
  background: #224f7d;
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 750px;
  height: 650px;
  background: #fff;
  display: none;
  z-index: 2;

}

.layer-dialog-bg {
  z-index: 1;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.titledialogc {
  height: 35px;
  line-height: 35px;
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 0 10px 0 10px;
}

.titledialogc span {
  display: inline-block;
  width: 100%;
}

#close {
  text-align: right;
  font-size: 17px;
  cursor: pointer;
}

.searchipt {
  width: calc(34vh - 47px);
  height: 25px;
}